<footer class="footer">
    <div class="sliders">
      <a [routerLink]="['']">prezident</a> |
      <a [routerLink]="['meeting']">bod jednání</a> |
      <a [routerLink]="['voting']">hlasovani</a> |
      <a [routerLink]="['notification']">oznameni</a> |
      <a (click)="stopwatchStart()">stopwatch start</a> |
      <a (click)="stopwatchPause()">stopwatch pause</a> |
      <a (click)="stopwatchEnd()">stopwatch end</a> |
      <a (click)="connect()">connect</a> |
      <a (click)="disconnect()">disconnect</a>
    </div>
</footer>