[Unit]
Description=PspDataPresenter.App

[Service]
WorkingDirectory=/home/pi/PspDataPresenter.App
ExecStart=/home/pi/PspDataPresenter.App/PspDataPresenter.App
SyslogIdentifier=PspDataPresenter.App

User=pi

Restart=always          
RestartSec=5

KillSignal=SIGINT
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:80

[Install]
WantedBy=multi-user.target